d@model FoodBucket.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <legend>
        <h2>Register</h2>
    </legend>
    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <img src="/Content/images/cooking.png" />
        </div>


        <div class=" col-md-offset-2 col-md-4 alert alert-info">
            <form role="form">
                <div class="row">
                    <div class="col-md-offset-1 col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName)
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName)
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-offset-1 col-md-10 form-group">
                        @Html.LabelFor(model => model.UserName)
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                    </div>

                    <div class="col-md-offset-1 col-md-10 form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                    </div>

                    <div class="col-md-offset-1 col-md-10 form-group">
                        @Html.LabelFor(model => model.ConfirmPassword)
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                    </div>

                    <div class="col-md-offset-1 col-md-10 form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                    </div>

                    <div class="col-md-offset-1 col-md-10 form-group">
                        <label for="register-avatar">Upload your photo</label>
                        <input id="register-avatar" type="file" name="ProfileImage" />
                    </div>
                    <br />
                    <p>
                        <input class="col-md-offset-1 col-md-10 btn btn-info" type="submit" value="Create new Account" />
                    </p>
                </div>
            </form>
        </div>
    </div>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
